<div class="container" style="text-align:center">
    <br><br><br><br>
    <h2>About this blog application</h2>
    <br><br>
    <h5 style="text-align: left">It is a dynamic blog application having CRUD(Create, Read, Update, Delete) functionalities built only for the purpose of learning with the 
        help of following concepts:-</h5>
    <br>
    <h6 style="text-decoration: underline">Frontend Concepts:-</h6>
    <p style="text-align: justify">1). Setup of angular application based on Angular-7 with MVC approach.<br>
       2). Componets & Routing.<br>
       3). Creating templates and interpolation.<br>
       4). Concept of services.<br>
       5). Interaction with REST APIs.<br>
       6). Concept of forms and two way data binding in Angular, i.e. Property binding & Event binding.
    </p><br>
    <h6 style="text-decoration: underline">Backend Concepts:-</h6>
    <p style="text-align: justify">1). Backend configuration and setup with ExpressJs.<br>
        2). Routes & Controllers.<br>
        3). MongoDb & Mongoose.<br>
        4). Middlewares & libraries.<br>
        5). NPM modules.<br>
        6). Creation of REST APIs.<br>
        7). Authentication & Security.

        
  </div>
